	html, body{
		font-family: 'Bitter', Arial, 'Georgia', Times, Times New Roman, serif;
		width: 100%;
		height: 100%;
	}
	.wrapper{
		min-height: 100%;
		margin-bottom: -50px;
	}
	.content-container{
		width: 965px;
		margin: 0 auto;
	}

	header{
		background-color: #ebebeb;
		margin-bottom: 20px;
	}

	.name{
		padding: 0 20px 20px 20px;
		color:#ebebeb;
		text-align: center;
		background-color: #169e9e;
		float: left;
	}

	h1{     
	} 

	nav{  
		padding: 25px 0;  
		font-weight: 150px;    
		float: right; 
	}

	a{
		font-size: 20px;
		padding: 10px;
		font-weight: bolder;
		text-decoration: none;
		color: #777;
	}

	nav a:hover{
		text-decoration: none;
		color: #ebebeb;
		background-color: #169e9e;
	}

	section{
		overflow: hidden;
		float: left;
		padding: 0 30px 30px 30px;
		width: 650px;
		margin-bottom: 20px;
		background-color: #ebebeb;
		clear: both;
		overflow: auto;
		border: 3px solid #777;
	}

	h2{
		padding: 10px  0 20px 0;
		font-size: 34px;
		color: #169e9e;
		border-bottom: 2px solid #777;
		margin-bottom: 30px;
	}

	#image{
		width: 250px;
		height: 250px;
		float: left;
		border-radius: 3%;
		margin-right: 20px;
		border: 1px solid #777;
	}

	p{
		font-size: 18px;
		color: #777;
		line-height: 40px;
	}

	aside{
		float: right;
		text-align: center;
		color: #169e9e;
		padding: 0 30px;
		width: 290px;
		background-color: #ebebeb;
		border: 3px solid #777;
		margin-bottom: 20px;
	}

	h3{
		padding: 20px  0 20px 0;
		font-size: 22px;
		border-bottom: 2px solid #777;
	}
	.git, .in, .freecodecamp{
		margin-top: 0;
		width: 60px;
		border: 1px solid #777;
		margin: 10px 0 20px 0;
		border-radius: 10%;
	}

	.git, .in{
		float: left;
	}

	.freecodecamp{
		margin-top: -18px;
		float: right;
	}

	.git:hover, .in:hover, .freecodecamp:hover{
		border:2px;
		box-shadow: 1px 1px 10px #777;
	}

	footer{
		color: #ebebeb;
		width: 1200px;
		padding: 20px;
		text-align: center;
		font-size: 14px;
		background-color: #777;
		width: inherit;
		border-top: 7px solid #169e9e;
		clear: both;
		overflow: auto;
	}
	/*  
			PORTFOLIO.HTML STYLE.CSS PARAMENTERS
	*/
	.portfolio-image{
		margin-bottom: 20px;
		text-align: center;
		text-rendering: 20px;
		padding: 0;
		width: 279px;
		height: 250px;
		border: 1px solid #777;

	}
	.left{
		float: left;
		clear: both;
		overflow: auto;
	}
	.right{
		float:right;
	}

	#relative{
		text-align: center;
		position: relative;

	}

	#absolute{
		text-align: center;
		font-size: 24px;
		padding: 10px 0;
		position: absolute;
		bottom: 20px;	
		width: 100%;
		color: #ebebeb;
		background-color: #169e9e;
	}

	/* ********************************** */ 

	/*
			CONTACT.HTML STYLE.CSS PARAMETERS
	*/
	form{
		font-size: 20px;
		line-height: 50px;
		font: bold;
		color: #777;
	}

	input{
		margin: 0;
		width: 100%;
	}
	textarea{
		height: 120px;
		width: 100%;
		margin-bottom: 0;
	}

	.submit{
		width: 150px;
		color: #ebebeb;
		background-color: #169e9e;
		border: 1px solid #777;
	}
	.submit:hover{
		box-shadow: 1px 1px 10px #777;
	}
/* ********************************** */ 

/*
		@MEDIA QUERY AT MAX-WIDTH OF 980PX
*/

@media only screen and (max-width: 980px) {

	html, body{
		font-family: 'Bitter', Arial, 'Georgia', Times, Times New Roman, serif;
		width: 100%;
		height: 100%;

	}
	.wrapper{
		min-height: 100%;
		margin-bottom: -50px;
	}
	.content-container{
		width: 965px;
		margin: 0 auto;
	}

	header{
		background-color: #ebebeb;
		margin-bottom: 20px;
	}

	.name{
		padding: 0 20px 20px 20px;
		color:#ebebeb;
		text-align: center;
		background-color: #169e9e;
		float: left;
	}

	h1{     
	} 

	nav{  
		padding: 25px 0;  
		font-weight: 150px;    
		float: right; 
	}

	a{
		font-size: 20px;
		padding: 10px;
		font-weight: bolder;
		text-decoration: none;
		color: #777;
	}

	nav a:hover{
		text-decoration: none;
		color: #ebebeb;
		background-color: #169e9e;
	}

	section{
		overflow: hidden;
		float: left;
		padding: 0 30px 30px 30px;
		width: 650px;
		margin-bottom: 20px;
		background-color: #ebebeb;
		clear: both;
		overflow: auto;
		border: 3px solid #777;
	}

	h2{
		padding: 10px  0 20px 0;
		font-size: 34px;
		color: #169e9e;
		border-bottom: 2px solid #777;
		margin-bottom: 30px;
	}

	#image{
		width: 250px;
		height: 250px;
		float: left;
		border-radius: 3%;
		margin-right: 20px;
		border: 1px solid #777;
	}

	p{
		font-size: 18px;
		color: #777;
		line-height: 40px;
	}

	aside{
		float: right;
		text-align: center;
		color: #169e9e;
		padding: 0 30px;
		width: 290px;
		background-color: #ebebeb;
		border: 3px solid #777;
		margin-bottom: 20px;
	}

	h3{
		padding: 20px  0 20px 0;
		font-size: 22px;
		border-bottom: 2px solid #777;
	}
	.git, .in, .freecodecamp{
		margin-top: 0;
		width: 60px;
		border: 1px solid #777;
		margin: 10px 0 20px 0;
		border-radius: 10%;
	}

	.git, .in{
		float: left;
	}

	.freecodecamp{
		float: right;
	}

	.git:hover, .in:hover, .freecodecamp:hover{
		border:2px;
		box-shadow: 1px 1px 10px #777;
	}

	footer{
		color: #ebebeb;
		width: 1200px;
		padding: 20px;
		text-align: center;
		font-size: 14px;
		background-color: #777;
		width: inherit;
		border-top: 7px solid #169e9e;
		clear: both;
		overflow: auto;
	}

	.portfolio-image{
		margin-bottom: 20px;
		text-align: center;
		text-rendering: 20px;
		padding: 0;
		width: 279px;
		height: 250px;
		border: 1px solid #777;

	}
	.left{
		float: left;
		clear: both;
		overflow: auto;
	}
	.right{
		float:right;
	}

	#relative{
		text-align: center;
		position: relative;

	}

	#absolute{
		text-align: center;
		font-size: 24px;
		padding: 10px 0;
		position: absolute;
		bottom: 20px;	
		width: 100%;
		color: #ebebeb;
		background-color: #169e9e;
	}


	/* ********************************** */ 

	/*
			CONTACT.HTML STYLE.CSS PARAMETERS
	*/
	form{
		font-size: 20px;
		line-height: 50px;
		font: bold;
		color: #777;
	}

	input{
		margin: 0;
		width: 100%;
	}
	textarea{
		height: 120px;
		width: 100%;
		margin-bottom: 0;
	}

	.submit{
		width: 150px;
		color: #ebebeb;
		background-color: #169e9e;
		border: 1px solid #777;
	}
	.submit:hover{
		box-shadow: 1px 1px 10px #777;
	}
	}
	/* ********************************** */

	/*
		@MEDIA QUERY AT MAX-WIDTH OF 768PX
	*/
@media only screen and (max-width: 768px){
	html, body{
		width: 768px;
		margin: 0 auto;
		overflow-x: hidden;
	}
	.content-container{
	width: 718px;
	margin: 0 auto;
	}

	header{
		width: 768px;
	}
	section{
		width: 718px;
		margin:0 auto;
		margin-bottom: 20px;
	}
	.name{
		margin-left: -30px;
		width: 768px;
	}
	#image{
		width: 300px;
		height: 300px;
	}
	nav{
		margin-right: 184px;
	}
	aside{
		width:718px;
		float: left;
	}
	h3{
		text-align: left;
	}
	.freecodecamp{
		margin-left: 22px;
		float: left;
	}

	.portfolio-image{
	width: 310px;
	height: 300px;
	}

	footer{
		width:768px;
	}
}

/*
		@MEDIA QUERY AT MAX-WIDTH OF 640PX
*/

@media only screen and (max-width: 640px) {
	html, body{
		width: 640px;
		margin: 0 auto;
		overflow-x: hidden;
	}
	.content-container{
	width: 590px;
	margin: 0 auto;
	}

	header{
		width: 640px;
	}
	section{
		width: 590px;
		margin:0 auto;
		margin-bottom: 20px;
	}
	.name{
		margin-left: -30px;
		width: 640px;
	}
	#image{
		width: 524px;
		height: 450px;
	}
	nav{
		margin-right: 119px;
	}
	aside{
		width:590px;
		float: left;
	}
	h3{
		text-align: left;
	}
	.freecodecamp{
		margin-left: 22px;
		float: left;
	}

	footer{
		width:640px;
	}



	.right{
	float: left;
	}
	
	.portfolio-image{
	width: 524px;
	height: 500px;
	}
}


@media only screen and (max-width: 400px) {
	html, body{
		width: 400px;
		margin: 0 auto;
		overflow-x: hidden;
	}
	.content-container{
	width: 350px;
	margin: 0 auto;
	}

	header{
		width: 400px;
	}
	section{
		width: 350px;
		margin:0 auto;
		margin-bottom: 20px;
	}
	.name{
		margin-left: -30px;
		width: 400px;
	}

	nav{
		margin-right: 15px;
	}
	nav a{
		padding: 5px;
	} 
	#image{
		width: 284px;
		height: 250px;
	}
	aside{
		width:350px;
		float: left;
	}
	h3{
		text-align: left;
	}
	.freecodecamp{
		margin-left: 22px;
		float: left;
	}

	footer{
		width:400px;
	}



	.right{
	float: left;
	}
	
	.portfolio-image{
	width: 284px;
	height: 250px;
	}


}

